$baseNavColor: #1b1b2f;

.frontheader {
    background-color: #003049;
    //background-image: url("https://media.istockphoto.com/id/971578384/photo/night-sky-with-stars-and-soft-milky-way-universe-as-background-or-texture.webp?b=1&s=170667a&w=0&k=20&c=fClkTGdzR4UoSJcvOdwyGiXQhsLnDyyGZwlTXfQdxW8=");
    min-height: 400;
    display: flex;

    align-items: center;
    min-width: 90vw;    
    flex-direction: column;
    padding: 10px;
}

.resumeBtn {
    background-color: $baseNavColor;
}

.circularimage {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 25px;
}
